Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.+) $1 [L]

    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<Files "database.json">
    Require all denied
</Files>

<FilesMatch ".+/src/.+\.php$">
    Require all denied
</FilesMatch>